.onlyopsee {
  border-radius: 3px;
  padding: 5px;
  background: no-repeat 10px 50%;
  border: 1px dashed #f5aca6;
}

.onlyopsee_title,.onlyopsee_alert {
  color: #f54b4b;
  position: relative;
  text-align: center;
  font-size: small;
}

.onlyopsee_alert {
  color: red;
}
